.env

/torrent/*/*
/torrent/media
/smarthome/*/*
/auth/*/*
/dnsmasq/*/*

/proxy/*/*

!/proxy/traefik/traefik.yml
!/proxy/traefik/middleware.yml

!/torrent/qbittorrent/
/torrent/qbittorrent/*
!/torrent/qbittorrent/appdata/
/torrent/qbittorrent/appdata/*
!/torrent/qbittorrent/appdata/config/
/torrent/qbittorrent/appdata/config/*
!/torrent/qbittorrent/appdata/config/qBittorrent/
/torrent/qbittorrent/appdata/config/qBittorrent/*
!/torrent/qbittorrent/appdata/config/qBittorrent/qBittorrent.conf
